<h1>Lessons for <%= @section.name %></h1>

<ul>
  <% @lessons.each do |lesson| %>
    <li><%= link_to lesson.name, section_lesson_path(lesson.section, lesson) %></li>
  <% end %>
</ul>

<%= link_to "Add a lesson", new_section_lesson_path %>
