<!DOCTYPE html>
<html>
  <head>
    <title>Learn How To Do Something</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Learn How To Do Something</h1>
        <p class="lead">neat-o lessons on random STUFF!</p>
      </div>
    </div>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
